/*
    Document   : _contact.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.contact {
  .contact > .holder {
    max-width: 680px;
  }

  .contact-info {
    margin-bottom: 35px;
  }
}
