/*
    Document   : _contact.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.contact {
  & > .holder {
    max-width: 675px;
  }

  .hightlight-text {
    font-size: 23px;
    margin: 0 auto 25px;
    max-width: 355px;
  }

  .email-link {
    display: block;
    margin: 0 auto;
    max-width: 240px;
    text-align: center;
    text-decoration: none;
    transition: transform 375ms;
    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    img {
      display: block;
      margin: 0 auto 25px;
      max-width: 60px;
      width: 100%;
    }

    span {
      display: block;
      color: $text-color;
      font-family: $font-medium;
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 480px) {
  .contact {
    .hightlight-text {
      font-size: 18px;
    }

    .email-link {
      img {
        margin: 0 auto 15px;
        max-width: 50px;
      }

      span {
        font-size: 22px;
      }
    }
  }
}
