/*
    Document   : _cover.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.cover {
  background: no-repeat center center url(../images/cover.png);
  background-size: cover;
  height: 700px;
  height: 85vh;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .cover {
    height: 560px;
    height: 65vh;
  }
}

@media screen and (max-width: 480px) {
  .cover {
    height: 420px;
    height: 50vh;
  }
}
