/*
    Document   : _how-it-works.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.how-it-works {
  background: rgb(142, 241, 246);
  background: linear-gradient(0deg, rgba(142, 241, 246, 1) 0%, rgba(193, 249, 251, 1) 100%);
  position: relative;
  z-index: 0;

  .header {
    text-align: center;

    h1 {
      font-size: 33px;
      margin: 0;
    }
  }

  .content {
    margin-top: 80px;

    .image {
      margin-bottom: -270px;
    }

    .row {
      align-items: center;
      display: flex;
    }
  }

  .step {
    align-items: flex-start;
    display: flex;
    font-size: 22px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }

    .number {
      color: $highlight-color;
      flex-shrink: 0;
      font-family: $font-highlight;
      font-size: 65px;
      line-height: 100%;
      width: 50px;
    }

    .wrapper {
      margin-left: 15px;
    }

    h2 {
      color: $highlight-color;
      font-family: $font-bold;
      font-size: 27px;
      margin: 0 0;
    }
  }

  .decoration {
    position: absolute;
    z-index: 0;
  }

  .decoration-1 {
    max-width: 168px;
    right: 5%;
    top: -28%;
    width: 14%;
  }

  .decoration-2 {
    max-width: 37px;
    left: 35%;
    top: 50%;
    width: 3%;
  }

  .decoration-3 {
    left: 0%;
    max-width: 208px;
    top: 0%;
    width: 27%;
  }
}

@media screen and (max-width: 767px) {
  .how-it-works {
    .content {
      .image {
        margin-bottom: -190px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .how-it-works {
    .header {
      h1 {
        font-size: 18px;
      }
    }

    .content {
      margin-top: 0;
    }

    .step {
      font-size: 15px;
      margin: 0 auto 15px;
      max-width: 90%;

      .number {
        font-size: 45px;
        width: 30px;
      }

      h2 {
        font-size: 16px;
      }
    }

    .decoration-2 {
      left: 92%;
    }

    .decoration-3 {
      left: -11%;
    }
  }
}
