/*
    Document   : _footer.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.footer {
  background-color: #f1f1f1;
  color: #9a9a9a;
  font-size: 11px;
  padding: 15px 0;

  .goplek-logo {
    display: block;
    margin-left: auto;
    width: 50px;
  }
}
